@page
@model AdminModel
@{
   
}

<body class="bg-light">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container">
            <div class="card p-4 shadow">
                <h1 class="mb-4">Admin</h1>

                <div class="row mb-3">
                    <div class="col-md-12 text-end">
                        <a href="/Admin/Brand/Index" class="btn btn-danger">Brand</a>
                        <a href="/Admin/Category/Index" class="btn btn-danger">Category</a>
                        <a href="/Admin/Order/Index" class="btn btn-danger">Order</a>
                        <a href="/Admin/Product/Index" class="btn btn-danger">Product</a>
                        <a href="/Admin/User/Index" class="btn btn-danger">User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
