@page
@model Client.Pages.Admin.Order.CreateModel
@{
}
<body class="bg-light">
    <div class="container mt-4">
        <h1 class="mb-4">Create Order</h1>
        <div class="card p-4 shadow-sm">
            <form method="post">
                <div class="mb-3 row">
                    <label for="id" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="id" name="id" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="date" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="form-control" id="date" name="date" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="total" class="col-sm-2 col-form-label">Total</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="total" name="total" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="shippingAddress" class="col-sm-2 col-form-label">Shipping Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="shippingAddress" name="shippingAddress" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="status" name="status" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="userId" class="col-sm-2 col-form-label">UserId</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userId" name="userId" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a href="/Admin/Order/Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</body>